.container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
}

.deck {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border: 1px solid #161616;
}
.playingCard {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border: 1px solid #161616;
}
.discardCards {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border: 1px solid #161616;
}
.kings {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border: 1px solid #161616;
}